/HOM_MouseHumanSequence.rpt
/converted_gene_list.csv
/genes_met_modelling_human.csv
/.my_blast.xml.swp
/my_blast.xml
/24H_T4_original_proteinGoups_avg.csv
/CTL_original_proteinGroups_avg.csv
/blast_output-1.txt
/blast_output-1txt
/blast_output-2.txt
/blast_output-10.txt
/blast_output-11.txt
/blast_output-12.txt
/blast_output-13.txt
/blast_output-14.txt
/blast_output-15.txt
/blast_output-16.txt
/blast_output-17.txt
/blast_output-18.txt
/blast_output-19.txt
/blast_output-20.txt
/blast_output-21.txt
/blast_output-22.txt
/blast_output-23.txt
/blast_output-24.txt
/blast_output-25.txt
/blast_output-26.txt
/blast_output-27.txt
/blast_output-28.txt
/blast_output-29.txt
/blast_output-3.txt
/blast_output-30.txt
/blast_output-31.txt
/blast_output-32.txt
/blast_output-33.txt
/blast_output-34.txt
/blast_output-35.txt
/blast_output-36.txt
/blast_output-37.txt
/blast_output-38.txt
/blast_output-39.txt
/blast_output-4.txt
/blast_output-5.txt
/blast_output-6.txt
/blast_output-7.txt
/blast_output-8.txt
/blast_output-9.txt
/blast_output.txt
/converted_gene_list-1.csv
/converted_gene_list-10.csv
/converted_gene_list-11.csv
/converted_gene_list-12.csv
/converted_gene_list-13.csv
/converted_gene_list-14.csv
/converted_gene_list-15.csv
/converted_gene_list-16.csv
/converted_gene_list-17.csv
/converted_gene_list-18.csv
/converted_gene_list-19.csv
/converted_gene_list-1csv
/converted_gene_list-2.csv
/converted_gene_list-20.csv
/converted_gene_list-21.csv
/converted_gene_list-22.csv
/converted_gene_list-23.csv
/converted_gene_list-24.csv
/converted_gene_list-25.csv
/converted_gene_list-26.csv
/converted_gene_list-27.csv
/converted_gene_list-28.csv
/converted_gene_list-29.csv
/converted_gene_list-3.csv
/converted_gene_list-30.csv
/converted_gene_list-31.csv
/converted_gene_list-4.csv
/converted_gene_list-5.csv
/converted_gene_list-6.csv
/converted_gene_list-7.csv
/converted_gene_list-8.csv
/converted_gene_list-9.csv
/WTmodel.mat
/test1_Guido.mat
